.headline-wrap {
  height: 100%;
  overflow: hidden;
  color: #FFF;
  box-sizing: border-box;
  border: .3em solid #FFF;

  .headline-canvas {
    height: 100%;
    background: #ff0084;
    background: -webkit-linear-gradient(to left, #8b3ca6 , #0d0027);
    background: linear-gradient(to left, #8b3ca6 , #0d0027);
  }

}
