@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,600,400);

html,
#app {
  height: 100%;
}
*, :after, :before {
  box-sizing: inherit;
}
body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-size: 14px;
  line-height: 1.4285em;
  font-smoothing: antialiased;
}
p {
  margin: 0 0 1em;
  line-height: 1.4285em;
}
p:last-child {
  margin-bottom: 0;
}
#app {
  height: 100%
}

.headline-wrap {
  height: 100%;
  overflow: hidden;
  color: #FFF;
  box-sizing: border-box;
  border: .3em solid #FFF;

  .headline-canvas {
    height: 100%;
    background: #ff0084;
    background: linear-gradient(to left, #8b3ca6 , #0d0027);
  }
}
